@import url('https://fonts.googleapis.com/css?family=Cedarville+Cursive');
@import url('https://fonts.googleapis.com/css?family=Raleway');

.quote {
  font-family: "Cedarville Cursive", Arial;
  font-size: 50px;
}

.author {
  font-family: Raleway, Arial;
  font-size: 18px;
}

.card-container, .author, .quote {
  text-align: center;
}

.quote::before {
  content: open-quote;
}

.quote::after {
  content: close-quote;
}

.author::before {
  content: "-";
}
